@import './../../../scss//variable.scss';

.movie-minimal {
    flex: 1 0 16.6666666667%;
    margin-left: -16px;
    figure {
        padding: 0;
        margin: 0;
    }
    position: relative;
    border: 3px solid $primaryColorDark;
    border-radius: 5px;
    &:hover .movie-preview-info{
        display: block;
    }
    img {
        width: 100%;
    }
    
    .movie-preview-info {
        position: absolute;
        bottom: 0;
        background-color: rgba(#fff, 0.7);
        width: 100%;
        padding: 0.2em 1em;
        display: none;
    }
}

