<section id="login-form">
  <div class="login-container">
    <form novalidate autocomplete="off" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">E-Mail:</label>
        <input type="text" class="form-control" placeholder="E-Mail" name="email" id="email" autofocus #email
          [(ngModel)]="user.email">
      </div>
      <div class="form-group">
        <label for="password">Passwort:</label>
        <input type="password" class="form-control" placeholder="Passwort" name="password" id="password" #password
          [(ngModel)]="user.password" (keydown.enter)="onSubmitLogin(loginForm.value)">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-info btn-block" 
          (click)="onSubmitLogin(loginForm.value)"
          [ngClass]="{ hide : login }">Anmelden</button>
      </div>
    </form>
  </div>
</section>