<section id="movie-details">
  <div class="container">
    <div class="row">
      <figure class="col-6">
        <img [src]="movie?.cover" alt="">
      </figure>
      <div class="col-6">
        <h1>{{ movie?.title }} {{ movie?.subline }}</h1>
        <p>{{ movie?.description }}</p>
        <div class="row infobar">
          <div class="col-6 infobar-item">
            Alter: {{ movie?.age }}
          </div>
          <div class="col-6 infobar-item">
            Länge: {{ movie?.length }}
          </div>
        </div>

        <div class="row infobar">
          <div class="col-6 infobar-item">
            Jahr: {{ movie?.year }}
          </div>
          <div class="col-6 infobar-item">
            Untertitel: {{ movie?.subtitle ? 'Ja' : 'Nein' }}
          </div>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-info" (click)="backToMovie()">Zurück zu den Filmen</button>
      </div>
    </div>
  </div>
</section>

