@import './../../../../scss//variable.scss';

.infobar {
    background-color: rgba($primaryColorLight, 0.1);
    padding: 1rem;
    .infobar-item {
        border: 1px solid $primaryColorDark;
        border-radius: 3px;
        padding: 1rem;
    }
    figure {
        padding: 0;
        img {
            max-width: 100%;
        }
    }    
}
