<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container">
    
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/" >Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="movie">Filme</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="movie/overview">Filme Übersicht</a>
          </li>

        </ul>

        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active" *ngIf="!userService.isLoggedIn()">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item" routerLinkActive="active" *ngIf="userService.isLoggedIn()">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
    </div>
  </div>
</nav>
