/* You can add global styles to this file, and also import other style files */
section {
    margin: {
        top: 70px;
        bottom: 70px;
    }
}

section#site-movies {
    margin: {
        top: 0;
        bottom: 70px;
    }
}

a {
    cursor: pointer;
}