/*
* Basic
*/
a {
    cursor: pointer;
}

img {
    max-width: 100%;
}
/*
* Layout
*/
section {
    margin: {
        top: 70px;
        bottom: 70px;
    }
}

section#site-movies {
    margin: {
        top: 0;
        bottom: 70px;
    }
}

